.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 45px;
  float: right;
}

.Kendo-logo {
  height: 40px;
  float: left;
}

.App-header {
  /* background-color: #222; */
  
  /* height: 150px; */
  padding-top: 5px;
  padding-left: 10px;
  color: white;
}

.Header-top {
  border-bottom: #222 1px solid;
  line-height: 45px;
  height: 45px;
}

.App-title {
  font-size: 1.5em;
  color: black;
  float: right;
}

.App-intro {
  font-size: large;
}

.tabContent {
  margin: 50px;
}

.navMain {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  margin-right: 10px;
  text-align: right;
}

.navMain li {
  display: inline-block;
}

.navLink {
  display: inline-block;
  text-decoration: none;
  color: black;
  margin: 0px 10px;
  margin-right: 10px;
}

.navLink.current {
  font-weight: 700;
}

.navLink:hover {
  text-decoration: underline;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
