.chooseItem {
    display: inline-block;
    width: auto;
    max-width: 200px;
    background-color: #E2E4E6;
    padding: 20px;
}

.chooseItem header {
    font-weight: 700;
    margin-bottom: 5px;
}

.chooseItemChild {
    margin-bottom: 8px;
    background-color: #F7F7F7;
    line-height: 22px;
    height: 22px;
    font-size: 16px;
    padding: 5px 15px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.chooseItemChild.selected {
    border: 1px solid #878787;
}